## 3.1	数据结构

### 3.1.1	Series

In [14]:
import pandas as pd                                     # 导入pandas库
ser_obj = pd.Series(data=['Python', 'C', 'Java',  # 创建Series类的对象
                          'JavaScript', 'PHP', 'R'])
ser_obj

0        Python
1             C
2          Java
3    JavaScript
4           PHP
5             R
dtype: object

In [15]:
# 创建Series类的对象，并指定索引
ser_obj = pd.Series(data=['Python', 'C', 'Java', 'JavaScript', 
                        'PHP', 'R'], index=['a', 'b', 'c', 'd', 'e', 'f'])
ser_obj

a        Python
b             C
c          Java
d    JavaScript
e           PHP
f             R
dtype: object

In [16]:
year_dict = {'a':2022, 'b':2023, 'c':2024, 'd':2025, 'e':2026, 'f':2027}
ser_obj = pd.Series(data=year_dict)
ser_obj

a    2022
b    2023
c    2024
d    2025
e    2026
f    2027
dtype: int64

In [17]:
ser_obj.index         # 获取ser_obj的索引

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [18]:
ser_obj.values       # 获取ser_obj的数据

array([2022, 2023, 2024, 2025, 2026, 2027])

### 3.1.2	DataFrame

In [19]:
import numpy as np
import pandas as pd
arr_2d = np.arange(1, 31).reshape((6, 5))              # 创建二维数组
df_obj = pd.DataFrame(data=arr_2d)    # 根据二维数组创建DataFrame类的对象
df_obj

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25
5  26  27  28  29  30

In [20]:
# 创建DataFrame类的对象，并给该对象指定列索引
df_obj = pd.DataFrame(data=arr_2d, columns=['No1', 'No2', 'No3', 'No4', 'No5'])
df_obj

   No1  No2  No3  No4  No5
0    1    2    3    4    5
1    6    7    8    9   10
2   11   12   13   14   15
3   16   17   18   19   20
4   21   22   23   24   25
5   26   27   28   29   30

In [21]:
result = df_obj.No2            # 获取No2列的数据
result

0     2
1     7
2    12
3    17
4    22
5    27
Name: No2, dtype: int64

In [22]:
type(result)           # 查看返回结果的类型

pandas.core.series.Series

In [23]:
df_obj.info()     # 查看df_obj对象的摘要信息

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No1     6 non-null      int64
 1   No2     6 non-null      int64
 2   No3     6 non-null      int64
 3   No4     6 non-null      int64
 4   No5     6 non-null      int64
dtypes: int64(5)
memory usage: 372.0 bytes

## 3.2	索引和切片操作

### 3.2.1	索引对象

In [24]:
import pandas as pd
ser_obj = pd.Series(range(5), index=['a', 'b', 'c', 'd', 'e'])
ser_index = ser_obj.index
ser_index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [25]:
ser_index[2]          # 获取索引对象中的第3个索引的值

'c'

In [26]:
# error occur!!
ser_index['2'] = 'cc'

TypeError: Index does not support mutable operations

In [27]:
import pandas as pd
ser_obj = pd.Series(range(5), index=['a', 'a', 'c', 'd', 'e'])
ser_index = ser_obj.index
ser_index

Index(['a', 'a', 'c', 'd', 'e'], dtype='object')

In [28]:
ser_index.is_unique     # 判断索引的值是否是唯一的、不重复的

False

### 3.2.2	重置索引

In [29]:
import pandas as pd
df_obj = pd.DataFrame({'no1': [1.0, 2.0, 3.0], 'no2': [4.0, 5.0, 6.0]},
                           index=['a', 'b', 'c'])
df_obj

   no1  no2
a  1.0  4.0
b  2.0  5.0
c  3.0  6.0

In [30]:
# 重置索引
new_df = df_obj.reindex(index=['a', 'c', 'e'])
new_df

   no1  no2
a  1.0  4.0
c  3.0  6.0
e  NaN  NaN

In [31]:
# 重置索引并指定填充的值
new_df = df_obj.reindex(index=['a', 'c', 'e'], fill_value = 9)
new_df

   no1  no2
a  1.0  4.0
c  3.0  6.0
e  9.0  9.0

In [32]:
# 重置索引，指定填充方式为前向填充
new_df = df_obj.reindex(index=['a', 'c', 'e'], method = 'ffill')
new_df

   no1  no2
a  1.0  4.0
c  3.0  6.0
e  3.0  6.0

### 3.2.3	通过索引和切片获取数据

In [33]:
import pandas as pd
ser_obj = pd.Series([10, 20, 30, 40, 50], 
                        index=['one', 'two', 'three', 'four', 'five'])
ser_obj[2]                     # 通过位置索引获取单个数据

C:\Users\Administrator\AppData\Local\Temp\ipykernel_26324\1508393141.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser_obj[2]                     # 通过位置索引获取单个数据

np.int64(30)

In [34]:
ser_obj['three']   # 通过标签索引获取单个数据

np.int64(30)

In [35]:
ser_obj[[0, 2, 3]]                      # 通过位置索引获取多个数据

C:\Users\Administrator\AppData\Local\Temp\ipykernel_26324\807117414.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser_obj[[0, 2, 3]]                      # 通过位置索引获取多个数据

one      10
three    30
four     40
dtype: int64

In [36]:
ser_obj[['one', 'three', 'four']]    # 通过标签索引获取多个数据

one      10
three    30
four     40
dtype: int64

In [37]:
ser_obj > 20        # 生成Series类的对象，该对象里面的元素都是布尔值

one      False
two      False
three     True
four      True
five      True
dtype: bool

In [38]:
ser_obj[ser_obj > 20]       # 获取跟True位置对应的数据

three    30
four     40
five     50
dtype: int64

In [39]:
ser_obj[1:3]                # 通过位置索引进行切片操作

two      20
three    30
dtype: int64

In [40]:
ser_obj['two':'four']      # 通过标签索引进行切片操作

two      20
three    30
four     40
dtype: int64

In [41]:
import numpy as np
import pandas as pd
arr = np.arange(12).reshape(3, 4)
df_obj = pd.DataFrame(arr, index=['row_1', 'row_2', 'row_3'], 
                           columns=['col_1', 'col_2', 'col_3', 'col_4'])
df_obj

       col_1  col_2  col_3  col_4
row_1      0      1      2      3
row_2      4      5      6      7
row_3      8      9     10     11

In [42]:
df_obj['col_2']              # 获取col_2列的数据

row_1    1
row_2    5
row_3    9
Name: col_2, dtype: int64

In [43]:
df_obj[['col_1', 'col_3']]       # 获取col_1列和col_3列的数据

       col_1  col_3
row_1      0      2
row_2      4      6
row_3      8     10

In [44]:
df_obj[1:3]                # 通过切片获取row_2行和row_3行的数据

       col_1  col_2  col_3  col_4
row_2      4      5      6      7
row_3      8      9     10     11

In [45]:
df_obj[1:3][['col_1', 'col_3']]

       col_1  col_3
row_2      4      6
row_3      8     10

### 3.2.4	通过loc和iloc属性获取数据

In [46]:
import pandas as pd
ser_obj = pd.Series([10, 20, 30, 40, 50], 
                        index=['row1', 'row2', 'row3', 'row4', 'row5'])
ser_obj.loc['row2']               # 根据单个标签索引获取单个数据

np.int64(20)

In [47]:
ser_obj.loc[['row2', 'row5']]   # 根据标签索引构成的列表获取多个数据

row2    20
row5    50
dtype: int64

In [48]:
ser_obj.loc['row3': 'row5']      # 根据基于标签索引的切片获取多个连续数据

row3    30
row4    40
row5    50
dtype: int64

In [49]:
ser_bool = ser_obj < 30     # 根据布尔类型的Series类对象获取符合条件的数据
ser_obj.loc[ser_bool]

row1    10
row2    20
dtype: int64

In [50]:
import numpy as np
import pandas as pd
arr = np.arange(12).reshape(3, 4)
df_obj = pd.DataFrame(arr, index=['row_1', 'row_2', 'row_3'], 
                           columns=['col_1', 'col_2', 'col_3', 'col_4'])
df_obj

       col_1  col_2  col_3  col_4
row_1      0      1      2      3
row_2      4      5      6      7
row_3      8      9     10     11

In [51]:
df_obj.loc['row_1']    # 根据单个标签索引获取一行数据

col_1    0
col_2    1
col_3    2
col_4    3
Name: row_1, dtype: int64

In [52]:
df_obj.loc[['row_1', 'row_3']]    # 根据标签索引构成的列表获取多行数据

       col_1  col_2  col_3  col_4
row_1      0      1      2      3
row_3      8      9     10     11

In [53]:
df_obj.loc['row_1':'row_2']   # 根据基于标签索引的切片获取连续多行的数据

       col_1  col_2  col_3  col_4
row_1      0      1      2      3
row_2      4      5      6      7

In [54]:
df_obj.loc[[True, False, True]]   # 根据布尔类型的列表获取符合条件的多行数据

       col_1  col_2  col_3  col_4
row_1      0      1      2      3
row_3      8      9     10     11

In [55]:
df_obj.loc['row_3', 'col_3']  # 根据两个标签索引获取单个数据

np.int64(10)

In [56]:
df_obj.loc['row_1':'row_3', ['col_1', 'col_3']]  # 根据切片和列表获取多列数据

       col_1  col_3
row_1      0      2
row_2      4      6
row_3      8     10

In [57]:
df_obj.iloc[0]         # 根据单个位置索引获取一行数据

col_1    0
col_2    1
col_3    2
col_4    3
Name: row_1, dtype: int64

In [58]:
df_obj.iloc[[0, 2]]    # 根据位置索引构成的列表获取多行数据

       col_1  col_2  col_3  col_4
row_1      0      1      2      3
row_3      8      9     10     11

In [59]:
df_obj.iloc[0:2]   # 根据基于位置索引的切片获取连续多行的数据

       col_1  col_2  col_3  col_4
row_1      0      1      2      3
row_2      4      5      6      7

In [60]:
df_obj.iloc[[True, False, True]]  # 根据布尔类型的列表获取符合条件的多行数据

       col_1  col_2  col_3  col_4
row_1      0      1      2      3
row_3      8      9     10     11

In [61]:
df_obj.iloc[2, 2]  # 根据两个位置索引获取单个数据

np.int64(10)

In [62]:
df_obj.iloc[0:3, [0, 2]]  # 根据切片和列表获取多列数据

       col_1  col_3
row_1      0      2
row_2      4      6
row_3      8     10

## 3.3	读写数据

### 3.3.1	读写CSV和TXT文件的数据

In [63]:
import pandas as pd
df_obj = pd.DataFrame({'编号':['CNN001', 'CNN002', 'CNN003', 'CNN004', 'CNN005', 'CNN006', 'CNN007', 'CNN008', 'CNN009', 'CNN010'],
                       '姓名':['小明', '小红', '小蓝', '小黑', '小白', '小方', '小梅', '小刚', '小丽', '小花'],
                       '性别':['男', '女', '女', '男', '男', '女', '女', '男', '女', '女'],
                       '部门':['行政', '人力资源', '销售', '研发', '财务', '技术', '', '市场', '研发', '技术'],
                       '职务':['员工', '主管', '员工', '主管', '员工', '员工', '员工', '员工', '主管', '员工']})
df_obj

       编号  姓名 性别    部门  职务
0  CNN001  小明  男    行政  员工
1  CNN002  小红  女  人力资源  主管
2  CNN003  小蓝  女    销售  员工
3  CNN004  小黑  男    研发  主管
4  CNN005  小白  男    财务  员工
5  CNN006  小方  女    技术  员工
6  CNN007  小梅  女        员工
7  CNN008  小刚  男    市场  员工
8  CNN009  小丽  女    研发  主管
9  CNN010  小花  女    技术  员工

In [64]:
# 向当前工作路径下的指定文件写入数据，不显示行索引
df_obj.to_csv(r'employee_info.csv', index=False, encoding='gbk')
print('写入完毕')

写入完毕

In [65]:
import pandas as pd
# 从当前工作路径下的指定文件中读取数据，使用逗号作为分隔符
df_obj = pd.read_csv(r'employee_info.csv', encoding='gbk')
df_obj

       编号  姓名 性别    部门  职务
0  CNN001  小明  男    行政  员工
1  CNN002  小红  女  人力资源  主管
2  CNN003  小蓝  女    销售  员工
3  CNN004  小黑  男    研发  主管
4  CNN005  小白  男    财务  员工
5  CNN006  小方  女    技术  员工
6  CNN007  小梅  女   NaN  员工
7  CNN008  小刚  男    市场  员工
8  CNN009  小丽  女    研发  主管
9  CNN010  小花  女    技术  员工

In [66]:
# # 从E盘根路径下的指定文件中读取数据，使用制表符作为分隔符，并指定编码格式为gbk
# df_obj = pd.read_table(r'E:\employee_info.txt', encoding='gbk')
# df_obj

### 多学一招：预览部分数据

In [67]:
df_obj.head()    # 预览前5行数据

       编号  姓名 性别    部门  职务
0  CNN001  小明  男    行政  员工
1  CNN002  小红  女  人力资源  主管
2  CNN003  小蓝  女    销售  员工
3  CNN004  小黑  男    研发  主管
4  CNN005  小白  男    财务  员工

In [68]:
df_obj.head(3)    # 预览前3行数据

       编号  姓名 性别    部门  职务
0  CNN001  小明  男    行政  员工
1  CNN002  小红  女  人力资源  主管
2  CNN003  小蓝  女    销售  员工

In [69]:
df_obj.tail()   # 预览后5行数据

       编号  姓名 性别   部门  职务
5  CNN006  小方  女   技术  员工
6  CNN007  小梅  女  NaN  员工
7  CNN008  小刚  男   市场  员工
8  CNN009  小丽  女   研发  主管
9  CNN010  小花  女   技术  员工

In [70]:
df_obj.tail(3)   # 预览后3行数据

       编号  姓名 性别  部门  职务
7  CNN008  小刚  男  市场  员工
8  CNN009  小丽  女  研发  主管
9  CNN010  小花  女  技术  员工

### 3.3.2	读写Excel文件的数据

In [71]:
import pandas as pd
df_obj = pd.DataFrame({'手机名称':['华为mate50 Pro', '华为畅享 50 Pro', '华为 P50', '华为智选 优畅享50', '华为P50 Pocket'],
                       '机身内存':['256GB', '256GB', '128GB', '128GB', '256GB'],
                       '运行内存':['8GB', '8GB', '8GB', '8GB', '8GB'],
                       '颜色':['曜金黑', '幻夜黑', '可可茶金', '月光银', '云锦白'],
                       '价格':[6799, 1799, 3758, 999, 8188]})
df_obj

           手机名称   机身内存 运行内存    颜色    价格
0  华为mate50 Pro  256GB  8GB   曜金黑  6799
1   华为畅享 50 Pro  256GB  8GB   幻夜黑  1799
2        华为 P50  128GB  8GB  可可茶金  3758
3    华为智选 优畅享50  128GB  8GB   月光银   999
4  华为P50 Pocket  256GB  8GB   云锦白  8188

In [74]:
# pip install openpyxl
# 向当前工作路径下的phones.xlsx文件中写入数据
df_obj.to_excel(r'phones.xlsx')
print('写入完毕')

写入完毕

In [75]:
# 从文件中读取全部的数据 
df_obj = pd.read_excel(r'phones.xlsx')
df_obj

   Unnamed: 0          手机名称   机身内存 运行内存    颜色    价格
0           0  华为mate50 Pro  256GB  8GB   曜金黑  6799
1           1   华为畅享 50 Pro  256GB  8GB   幻夜黑  1799
2           2        华为 P50  128GB  8GB  可可茶金  3758
3           3    华为智选 优畅享50  128GB  8GB   月光银   999
4           4  华为P50 Pocket  256GB  8GB   云锦白  8188

In [76]:
# 从文件中读取部分列的数据 
df_obj = pd.read_excel(r'phones.xlsx', usecols=[1,2,3,4,5])
df_obj

           手机名称   机身内存 运行内存    颜色    价格
0  华为mate50 Pro  256GB  8GB   曜金黑  6799
1   华为畅享 50 Pro  256GB  8GB   幻夜黑  1799
2        华为 P50  128GB  8GB  可可茶金  3758
3    华为智选 优畅享50  128GB  8GB   月光银   999
4  华为P50 Pocket  256GB  8GB   云锦白  8188

### 3.3.3	读取网页表格的数据

In [78]:
# pip install lxml
import pandas as pd
# 根据URL读取网页上表格的数据
tables = pd.read_html(io='https://www.tiobe.com/tiobe-index/')
# 获取索引3对应的DataFrame类的对象
tables[3]

    Year        Winner
0   2024        Python
1   2023            C#
2   2022           C++
3   2021        Python
4   2020        Python
5   2019             C
6   2018        Python
7   2017             C
8   2016            Go
9   2015          Java
10  2014    JavaScript
11  2013  Transact-SQL
12  2012   Objective-C
13  2011   Objective-C
14  2010        Python
15  2009            Go
16  2008             C
17  2007        Python
18  2006          Ruby
19  2005          Java
20  2004           PHP
21  2003           C++

### 3.3.4	读写数据库（自行学习练习）

In [80]:
# pip install sqlalchemy
# pip install pymysql
from pandas import DataFrame,Series
from sqlalchemy import create_engine
from sqlalchemy.types import *
df = DataFrame({"班级":["一年级", "二年级", "三年级", "四年级"],
                "男生人数":[25, 23, 27, 30],
                "女生人数":[19, 17, 20, 20]})

In [82]:
engine = create_engine('mysql+pymysql://root:123456@127.0.0.1/students_info')
df.to_sql('students', engine)

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '127.0.0.1' ([WinError 10061] 由于目标计算机积极拒绝，无法连接。)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:123456'
                       '@127.0.0.1:3306/info')
pd.read_sql('person_info', engine)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:123456'
                       '@127.0.0.1:3306/info')
sql = 'select * from person_info where id >3;'
pd.read_sql(sql, engine)

## 3.4	数据排序

### 3.4.1	按索引排序

In [83]:
import pandas as pd
import numpy as np
df_obj = pd.DataFrame(np.arange(9).reshape(3, 3), index=[4, 3, 5])
df_obj

   0  1  2
4  0  1  2
3  3  4  5
5  6  7  8

In [84]:
df_obj.sort_index()                      # 按行索引升序排列

   0  1  2
3  3  4  5
4  0  1  2
5  6  7  8

In [85]:
df_obj.sort_index(ascending=False)     # 按行索引降序排列

   0  1  2
5  6  7  8
4  0  1  2
3  3  4  5

### 3.4.2	按值排序

In [86]:
ser_obj = pd.Series([4, np.nan, 6, np.nan, -3, 2])
ser_obj

0    4.0
1    NaN
2    6.0
3    NaN
4   -3.0
5    2.0
dtype: float64

In [87]:
ser_obj.sort_values()   # 按值升序排列

4   -3.0
5    2.0
0    4.0
2    6.0
1    NaN
3    NaN
dtype: float64

In [88]:
df_obj = pd.DataFrame([[0.4, -0.1, -0.3, 0.0], 
                       [0.2, 0.6, -0.1, -0.7],
                       [0.8, 0.6, -0.5, 0.1]])
df_obj

     0    1    2    3
0  0.4 -0.1 -0.3  0.0
1  0.2  0.6 -0.1 -0.7
2  0.8  0.6 -0.5  0.1

In [89]:
df_obj.sort_values(by=2)  # 对列索引值为2的数据进行排序

     0    1    2    3
2  0.8  0.6 -0.5  0.1
0  0.4 -0.1 -0.3  0.0
1  0.2  0.6 -0.1 -0.7

## 3.5	算术运算与数据对齐

In [90]:
obj_one = pd.Series(range(10, 13), index=range(3)) 
obj_one

0    10
1    11
2    12
dtype: int64

In [91]:
obj_two = pd.Series(range(20, 25), index=range(5))
obj_two

0    20
1    21
2    22
3    23
4    24
dtype: int64

In [92]:
obj_one + obj_two    # 执行相加运算

0    30.0
1    32.0
2    34.0
3     NaN
4     NaN
dtype: float64

In [93]:
obj_one.add(obj_two, fill_value = 0)    # 执行加法运算，补充缺失值

0    30.0
1    32.0
2    34.0
3    23.0
4    24.0
dtype: float64

## 3.6	统计计算与描述

### 3.6.1	统计计算

In [94]:
df_obj = pd.DataFrame(np.arange(12).reshape(3, 4),
                          columns=['a', 'b', 'c', 'd'])
df_obj

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [95]:
df_obj.sum()          # 计算每列的和

a    12
b    15
c    18
d    21
dtype: int64

In [96]:
df_obj.max()         # 获取每列的最大值

a     8
b     9
c    10
d    11
dtype: int64

In [97]:
df_obj.min(axis=1)   # 计算每行的最小值

0    0
1    4
2    8
dtype: int64

### 3.6.2	统计描述

In [98]:
df_obj = pd.DataFrame([[12, 6, -11, 19], 
                       [-1, 7, 50, 36],
                       [5, 9, 23, 28]])
df_obj

    0  1   2   3
0  12  6 -11  19
1  -1  7  50  36
2   5  9  23  28

In [99]:
df_obj.describe()    # 输出多个统计指标

               0         1          2          3
count   3.000000  3.000000   3.000000   3.000000
mean    5.333333  7.333333  20.666667  27.666667
std     6.506407  1.527525  30.566867   8.504901
min    -1.000000  6.000000 -11.000000  19.000000
25%     2.000000  6.500000   6.000000  23.500000
50%     5.000000  7.000000  23.000000  28.000000
75%     8.500000  8.000000  36.500000  32.000000
max    12.000000  9.000000  50.000000  36.000000

## 3.7	分层索引操作

### 3.7.1	创建分层索引

In [100]:
from pandas import MultiIndex
# 创建一个包含多个元组的列表
list_tuples = [('A','A1'), ('A','A2'), ('B','B1'), ('B','B2'), ('B','B3')]
# 根据元组列表创建一个MultiIndex类的对象
multi_index = MultiIndex.from_tuples(tuples=list_tuples, names=['外层索引', '内层索引'])
multi_index

MultiIndex([('A', 'A1'),
            ('A', 'A2'),
            ('B', 'B1'),
            ('B', 'B2'),
            ('B', 'B3')],
           names=['外层索引', '内层索引'])

In [101]:
from pandas import MultiIndex
# 根据嵌套列表创建一个MultiIndex类的对象
multi_array = MultiIndex.from_arrays(arrays =[['A', 'B', 'A', 'B', 'B'], ['A1', 'A2', 'B1', 'B2', 'B3']],
                                     names=['外层索引','内层索引'])
multi_array

MultiIndex([('A', 'A1'),
            ('B', 'A2'),
            ('A', 'B1'),
            ('B', 'B2'),
            ('B', 'B3')],
           names=['外层索引', '内层索引'])

In [102]:
from pandas import MultiIndex
import pandas as pd
numbers = [0, 1, 2]
colors = ['green', 'purple']
multi_product = pd.MultiIndex.from_product(iterables=[numbers, colors], names=['number', 'color'])
multi_product

MultiIndex([(0,  'green'),
            (0, 'purple'),
            (1,  'green'),
            (1, 'purple'),
            (2,  'green'),
            (2, 'purple')],
           names=['number', 'color'])

### 3.7.2	创建有分层索引的对象

In [103]:
import numpy as np
import pandas as pd
mulitindex_series = pd.Series([14530, 13829, 12047,
                               7813, 7568, 6239, 15236, 8291],
                              index=[['河北省','河北省','河北省','河北省',
                                      '河南省','河南省','河南省','河南省'],
                                     ['石家庄市','唐山市','邯郸市','秦皇岛市',
                                      '郑州市','开封市','洛阳市','新乡市']])
mulitindex_series

河北省  石家庄市    14530
     唐山市     13829
     邯郸市     12047
     秦皇岛市     7813
河南省  郑州市      7568
     开封市      6239
     洛阳市     15236
     新乡市      8291
dtype: int64

In [104]:
import pandas as pd
from pandas import DataFrame, Series
# 占地面积为增加的列索引
mulitindex_df = DataFrame({'占地面积':[14530, 13829, 12047, 7813, 7568, 6239, 15236, 8291]},
                          index=[['河北省','河北省','河北省','河北省','河南省','河南省','河南省','河南省'],
                                 ['石家庄市','唐山市','邯郸市','秦皇岛市','郑州市','开封市','洛阳市','新乡市']])
mulitindex_df

           占地面积
河北省 石家庄市  14530
    唐山市   13829
    邯郸市   12047
    秦皇岛市   7813
河南省 郑州市    7568
    开封市    6239
    洛阳市   15236
    新乡市    8291

In [105]:
values = np.array([[7, 5], [6, 6], [3, 1], [5, 5], [4, 5], [5, 3]])
df_product = pd.DataFrame(data=values, index=multi_product)
df_product

               0  1
number color
0      green   7  5
       purple  6  6
1      green   3  1
       purple  5  5
2      green   4  5
       purple  5  3

### 3.7.3	使用分层索引获取数据子集

In [106]:
from pandas import Series
ser_obj = Series([50, 60, 40, 94, 63, 101, 200, 56, 45],
                 index=[['小说', '小说', '小说', '散文随笔', '散文随笔', '散文随笔','传记', '传记', '传记'],
                        ['平凡的世界', '骆驼祥子', '狂人日记', '皮囊', '浮生六记', '自在独行', '曾国藩', '老舍自传', '知行合一王阳明']])
ser_obj

小说    平凡的世界       50
      骆驼祥子        60
      狂人日记        40
散文随笔  皮囊          94
      浮生六记        63
      自在独行       101
传记    曾国藩        200
      老舍自传        56
      知行合一王阳明     45
dtype: int64

In [107]:
ser_obj['小说']    # 获取所有外层索引为“小说”的数据

平凡的世界    50
骆驼祥子     60
狂人日记     40
dtype: int64

In [108]:
ser_obj['小说', '平凡的世界'] # 使用外层索引和内层索引获取数据

np.int64(50)

In [109]:
ser_obj[:,'自在独行']       # 获取内层索引对应的数据

散文随笔    101
dtype: int64

### 3.7.4	交换索引层级的顺序

In [110]:
ser_obj.swaplevel()               # 交换外层索引与内层索引的位置

平凡的世界    小说       50
骆驼祥子     小说       60
狂人日记     小说       40
皮囊       散文随笔     94
浮生六记     散文随笔     63
自在独行     散文随笔    101
曾国藩      传记      200
老舍自传     传记       56
知行合一王阳明  传记       45
dtype: int64

### 3.7.5	分层索引排序

In [111]:
from pandas import DataFrame
df_obj = DataFrame({'word':['a','b','d','e','f','k','d','s','l'],
                    'num':[1, 2, 4, 5, 3, 2, 6, 2, 3]},
                   index=[['A', 'A', 'A', 'C', 'C', 'C', 'B', 'B', 'B'],
                          [1, 3, 2, 3, 1, 2, 4, 5, 8]])
df_obj

    word  num
A 1    a    1
  3    b    2
  2    d    4
C 3    e    5
  1    f    3
  2    k    2
B 4    d    6
  5    s    2
  8    l    3

In [112]:
df_obj.sort_index()         # 按索引排序

    word  num
A 1    a    1
  2    d    4
  3    b    2
B 4    d    6
  5    s    2
  8    l    3
C 1    f    3
  2    k    2
  3    e    5

## 3.8	案例：陕西高考分数线统计分析

In [113]:
import pandas as pd
# 指定列标签的索引列表
df_obj = pd.read_excel(r'scores.xlsx', header=[0, 1], index_col=0)
df_obj

     一本分数线      二本分数线
        文科   理科    文科   理科
2021   499  443   406  341
2019   518  468   400  363
2008   557  527   520  490
2010   559  556   500  500
2018   518  474   467  425
2017   509  449   457  397
2015   510  480   467  440
2014   548  503   492  452
2016   511  470   460  423
2022   484  449   400  344
2013   540  485   486  435
2012   556  517   497  461
2020   512  451   405  350
2011   543  540   495  488
2009   540  537   495  495

In [114]:
sorted_obj = df_obj.sort_index(ascending=False)
sorted_obj

     一本分数线      二本分数线
        文科   理科    文科   理科
2022   484  449   400  344
2021   499  443   406  341
2020   512  451   405  350
2019   518  468   400  363
2018   518  474   467  425
2017   509  449   457  397
2016   511  470   460  423
2015   510  480   467  440
2014   548  503   492  452
2013   540  485   486  435
2012   556  517   497  461
2011   543  540   495  488
2010   559  556   500  500
2009   540  537   495  495
2008   557  527   520  490

In [115]:
sorted_obj.max()

一本分数线  文科    559
       理科    556
二本分数线  文科    520
       理科    500
dtype: int64

In [116]:
sorted_obj.min()

一本分数线  文科    484
       理科    443
二本分数线  文科    400
       理科    341
dtype: int64

In [117]:
result1 = sorted_obj["一本分数线", "文科"].max() - sorted_obj["一本分数线", "文科"].min()
result1

np.int64(75)

In [118]:
result2 = sorted_obj["一本分数线", "理科"].max() - sorted_obj["一本分数线", "理科"].min()
result2

np.int64(113)

In [119]:
result3 = sorted_obj["二本分数线", "文科"].max() - sorted_obj["二本分数线", "文科"].min() 
result3

np.int64(120)

In [120]:
result4 = sorted_obj["二本分数线", "理科"].max() - sorted_obj["二本分数线", "理科"].min() 
result4

np.int64(159)

In [121]:
ser_obj1 = sorted_obj['一本分数线','文科']
ser_obj1[2022] - ser_obj1[2021]

np.int64(-15)

In [122]:
ser_obj2 = sorted_obj['一本分数线','理科']
ser_obj2[2022] - ser_obj2[2021]

np.int64(6)

In [123]:
ser_obj3 = sorted_obj['二本分数线','文科']
ser_obj3[2022] - ser_obj3[2021]

np.int64(-6)

In [124]:
ser_obj4 = sorted_obj['二本分数线','理科']
ser_obj4[2022] - ser_obj4[2021]

np.int64(3)

In [125]:
sorted_obj.describe()

            一本分数线                   二本分数线
               文科          理科          文科          理科
count   15.000000   15.000000   15.000000   15.000000
mean   526.933333  489.933333  463.133333  426.933333
std     23.435220   37.501365   41.248146   56.623401
min    484.000000  443.000000  400.000000  341.000000
25%    510.500000  459.500000  431.500000  380.000000
50%    518.000000  480.000000  467.000000  435.000000
75%    545.500000  522.000000  495.000000  474.500000
max    559.000000  556.000000  520.000000  500.000000